<a href="https://colab.research.google.com/github/vera-rykalina/PythonIntroDeepLearning/blob/main/DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable

In [16]:
# Calculator
7 + 3

10

In [17]:
# Variable assingment
a = 10
a

10

In [18]:
a + 9
b = 3
b

3

In [19]:
# This code cell inspects the values of the variables (a pound sign)
print(a) # print out a
print(b)

10
3

In [20]:
c = 7
d = 7.0
e = "hello"

# Check type of variables
print(type(c)) # integer (int)
print(type(d)) # float (floating point)
print(type(e)) # string (str)

<class 'int'>
<class 'float'>
<class 'str'>

In [21]:
# Quotes
g = "hi"
p = 'My name is Vera.'
o = "My name's is Vera"

In [22]:
g, p, o

('hi', 'My name is Vera.', "My name's is Vera")

In [23]:
# Variable name convention
aVariableName = 10
filterOrder   = 18
user_name     = "Vera"
param4modelA = 43.58678

## Magic keyword whos

In [24]:
# Magic keyword to check on variables
%whos

Variable        Type     Data/Info
----------------------------------
a               int      10
aVariableName   int      10
b               int      3
c               int      7
d               float    7.0
e               str      hello
filterOrder     int      18
g               str      hi
listlist        list     n=9
lst             list     n=7
mixList         list     n=4
o               str      My name's is Vera
p               str      My name is Vera.
param4modelA    float    43.58678
user_name       str      Vera

In [25]:
# Multiple assignment
varA, varB = 3, "test"
print(varA)
print(varB)

3
test

## Overwriting variables

Is it possible to overwrite existing variables?
- using the same variable type (yes)
- using different variable type (yes)

In [26]:
varA = 8
type(varA)

int

In [27]:
varA = "string"
type(varA)

str

# Math and printing

In [28]:
x = 7
y = 4.3
z = 0

In [29]:
# Floating-point algebra (not real algebra, instead of zeros one sees small numbers) 
y + x - 7

4.300000000000001

In [30]:
c = y + 3.5*x - 7 # addition, multiplication, substraction 
c

21.8

In [31]:
4/3 # devision

1.3333333333333333

In [32]:
# Breaking up one line of code into multiple lines
4 \
  + 3

7

In [33]:
3*2 # multiplication
3**3 # powers
9**(1/2) # square root, taking into account the order of operations

3.0

In [34]:
# String concatination
first_name = "Vera"
last_name  = "Rykalina"
first_name + last_name

'VeraRykalina'

In [35]:
full_name = first_name + " " + last_name
print(full_name)

Vera Rykalina

In [36]:
# This "first_name - last_name" will produce an error

In [37]:
print(first_name*3) # multiplication works with int but not with floats

VeraVeraVera

In [38]:
print("7*3 = 2.1") # no math

7*3 = 2.1

In [39]:
print(x + y)

11.3

In [40]:
# Printing mixed variable types
print(str(x) + " + " + str(y) + " =  " + str(x + y))

7 + 4.3 =  11.3

In [41]:
# A user input 
ans = input("Give me a number: ")

Give me a number: 10

In [42]:
type(ans) # str type

str

In [43]:
ans = float(ans)
type(ans)

float

In [44]:
# Embedding 
ans = float(input("Give me a number: "))

Give me a number: 11

In [45]:
type(ans)

float

## Pythagorean theorem

$c^2 = a^2 + b^2$

Get two inputs from the user:
-  side a
-  side b
-  compare and print out the length of the side c

In [46]:
a = float(input("Type a side a: "))
print(f"The side a is equal to {a}")

Type a side a: 4
The side a is equal to 4.0

In [47]:
b = float(input("Type a side b: "))
print(f"The side b is equal to {b}")

Type a side b: 4
The side b is equal to 4.0

In [48]:
c = round((a**2 + b**2)**(1/2), 2)
print(f"The calculated hypotenuse is {c}")

The calculated hypotenuse is 5.66

# List

In [49]:
# List of integers
aList = [4, 6, 7, 2, 1, 9]
print(aList)
type(aList)

[4, 6, 7, 2, 1, 9]

list

In [50]:
# List of strings
strList = [ "hi", "my", "name", "is", "Vera"]
print(strList)
type(strList)

['hi', 'my', 'name', 'is', 'Vera']

list

In [51]:
# Mixted list
mixList = [ 3, 5.0, "test", 50.1]
print(mixList)
type(mixList)

[3, 5.0, 'test', 50.1]

list

In [52]:
# List of lists
listlist = [ 1, 2, 3, "hi", "bye", [.5, 1/2, "j"], 3,2,1 ]

In [53]:
# Vertical organization (sometimes useful, e.g for adding comments)
listlist = [ 
            1, # comment 1
            2, # comment 2
            3, # comment 3
            "hi", 
            "bye", 
            [.5, 1/2, "j"], 
            3, 2, 
            1 
            ]

In [54]:
# Working with lists (use python in/not in keywords)

# Is number 4 in list?
print(4 in aList) 

# Is number 40 in list?
print(4 in aList)

# Is number 40 not in list?
print(40 not in aList)

True
True
True

In [55]:
# Concatenation of lists 
aList + strList

[4, 6, 7, 2, 1, 9, 'hi', 'my', 'name', 'is', 'Vera']

In [56]:
# Repitition 
strList*3

['hi',
 'my',
 'name',
 'is',
 'Vera',
 'hi',
 'my',
 'name',
 'is',
 'Vera',
 'hi',
 'my',
 'name',
 'is',
 'Vera']

## List methods

In [57]:
# Method .append()
print(aList)
aList.append(-200)
print(aList)

[4, 6, 7, 2, 1, 9]
[4, 6, 7, 2, 1, 9, -200]

In [58]:
# Demo of in place output
print(aList)
aList.append(-200)
print(aList)

[4, 6, 7, 2, 1, 9, -200]
[4, 6, 7, 2, 1, 9, -200, -200]

In [59]:
# Method .sort() (sorts by numerical number)
print(aList)
aList.sort() # not supported between instances of 'str' and 'int'
print(aList)

[4, 6, 7, 2, 1, 9, -200, -200]
[-200, -200, 1, 2, 4, 6, 7, 9]

In [76]:
# Method .sort() (descending order)
aList
aList.sort(reverse=True)
aList

[9, 7, 6, 4, 2, 1, -200, -200]

In [60]:
# Method .count() 
# Find the number of "-200"s in aList
aList.count(-200)

2

In [70]:
# Brush up on lists
lst = [1, 2, 3, 4, 5]
print(lst)
lst.append(7)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]

In [71]:
# Method .insert()
lst.insert(2, 9) # 2 -> position; 9 -> number
print(lst)

lst.insert(5, "gee") # 5 -> postion; str "gee" -> number
print(lst)

[1, 2, 9, 3, 4, 5, 7]
[1, 2, 9, 3, 4, 'gee', 5, 7]

In [72]:
# Method .remove()
lst.remove(9)
lst

[1, 2, 3, 4, 'gee', 5, 7]

## List practice
- remove the string "gee"

- sort the lst

In [73]:
lst
lst.remove("gee")
lst.sort()
lst

[1, 2, 3, 4, 5, 7]

# Tuple

In [83]:
atuple = (1, 3, "hey", 3.4, 7)
print(atuple)
print(type(atuple))

(1, 3, 'hey', 3.4, 7)
<class 'tuple'>

In [84]:
# Tuples can be assinged without paranthesis (better to use them although)
atuple = 3, 5, "wow", "3.3"
print(atuple)
print(type(atuple))

(3, 5, 'wow', '3.3')
<class 'tuple'>

In [86]:
# Difference between lists and tuples (mutability)
atuple = (3, 5, "wow", 3.3)
alist = [3, 5, "wow", 3.3]

In [87]:
alist[0] = 1000 # this is not possible for tuples
print(alist)

[1000, 5, 'wow', 3.3]

# Boolean