<a href="https://colab.research.google.com/github/vera-rykalina/PythonIntroDeepLearning/blob/main/DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

In [ ]:
# Calculator
7 + 3

10

In [ ]:
# Variable assingment
a = 10
a

10

In [ ]:
a + 9
b = 3
b

3

In [ ]:
# This code cell inspects the values of the variables (a pound sign)
print(a) # print out a
print(b)

10
3

In [ ]:
c = 7
d = 7.0
e = "hello"

# Check type of variables
print(type(c)) # integer (int)
print(type(d)) # float (floating point)
print(type(e)) # string (str)

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Quotes
g = "hi"
p = 'My name is Vera.'
o = "My name's is Vera"

In [ ]:
g, p, o

('hi', 'My name is Vera.', "My name's is Vera")

In [ ]:
# Variable name convention
aVariableName = 10
filterOrder   = 18
user_name     = "Vera"
param4modelA = 43.58678

In [ ]:
# Magic keyword to check on variables
%whos

Variable        Type     Data/Info
----------------------------------
a               int      10
aVariableName   int      10
b               int      3
c               int      7
d               float    7.0
e               str      hello
filterOrder     int      18
g               str      hi
o               str      My name's is Vera
p               str      My name is Vera.
param4modelA    float    43.58678
user_name       str      Vera

In [ ]:
# Multiple assignment
varA, varB = 3, "test"
print(varA)
print(varB)

3
test

## Overwriting variables

Is it possible to overwrite existing variables?
- using the same variable type (yes)
- using different variable type (yes)

In [ ]:
varA = 8
type(varA)

int

In [ ]:
varA = "string"
type(varA)

str

# Math and printing

In [ ]:
x = 7
y = 4.3
z = 0

In [ ]:
# Floating-point algebra (not real algebra, instead of zeros one sees small numbers) 
y + x - 7

4.300000000000001

In [ ]:
c = y + 3.5*x - 7 # addition, multiplication, substraction 
c

21.8

In [ ]:
4/3 # devision

1.3333333333333333

In [ ]:
# Breaking up one line of code into multiple lines
4 \
  + 3

7

In [ ]:
3*2 # multiplication
3**3 # powers
9**(1/2) # square root, taking into account the order of operations

3.0

In [ ]:
# String concatination
first_name = "Vera"
last_name  = "Rykalina"
first_name + last_name

'VeraRykalina'

In [ ]:
full_name = first_name + " " + last_name
print(full_name)

Vera Rykalina

In [ ]:
# This "first_name - last_name" will produce an error

In [ ]:
print(first_name*3) # multiplication works with int but not with floats

VeraVeraVera

In [ ]:
print("7*3 = 2.1") # no math

7*3 = 2.1

In [ ]:
print(x + y)

11.3

In [ ]:
# Printing mixed variable types
print(str(x) + " + " + str(y) + " =  " + str(x + y))

7 + 4.3 =  11.3

In [ ]:
# A user input 
ans = input("Give me a number: ")

Give me a number: 8

In [ ]:
type(ans) # str type

str

In [ ]:
ans = float(ans)
type(ans)

float

In [ ]:
# Embedding 
ans = float(input("Give me a number: "))

Give me a number: 17.3

In [ ]:
type(ans)

float

## Pythagorean theorem

$c^2 = a^2 + b^2$

Get two inputs from the user:
-  side a
-  side b
-  compare and print out the length of the side c

In [ ]:
a = float(input("Type a side a: "))
print(f"The side a is equal to {a}")

Type a side a: 5
The side a is equal to 5.0

In [ ]:
b = float(input("Type a side b: "))
print(f"The side b is equal to {b}")

Type a side b: 5
The side b is equal to 5.0

In [ ]:
c = round((a**2 + b**2)**(1/2), 2)
print(f"The calculated hypotenuse is {c}")

The calculated hypotenuse is 7.07

## Lists

In [41]:
# List of integers
aList = [4, 6, 7, 2, 1, 9]
print(aList)
type(aList)

[4, 6, 7, 2, 1, 9]

list

In [20]:
# List of strings
strList = [ "hi", "my", "name", "is", "Vera"]
print(strList)
type(strList)

['hi', 'my', 'name', 'is', 'Vera']

list

In [21]:
# Mixted list
mixList = [ 3, 5.0, "test", 50.1]
print(mixList)
type(mixList)

[3, 5.0, 'test', 50.1]

list

In [22]:
# List of lists
listlist = [ 1, 2, 3, "hi", "bye", [.5, 1/2, "j"], 3,2,1 ]

In [23]:
# Vertical organization (sometimes useful, e.g for adding comments)
listlist = [ 
            1, # comment 1
            2, # comment 2
            3, # comment 3
            "hi", 
            "bye", 
            [.5, 1/2, "j"], 
            3, 2, 
            1 
            ]

In [24]:
# Working with lists (use python in/not in keywords)

# Is number 4 in list?
print(4 in aList) 

# Is number 40 in list?
print(4 in aList)

# Is number 40 not in list?
print(40 not in aList)

True
True
True

In [25]:
# Concatenation of lists 
aList + strList

[4, 6, 7, 2, 1, 9, 'hi', 'my', 'name', 'is', 'Vera']

In [26]:
# Repitition 
strList*3

['hi',
 'my',
 'name',
 'is',
 'Vera',
 'hi',
 'my',
 'name',
 'is',
 'Vera',
 'hi',
 'my',
 'name',
 'is',
 'Vera']

In [42]:
# Method .append()
print(aList)
aList.append(-200)
print(aList)

[4, 6, 7, 2, 1, 9]
[4, 6, 7, 2, 1, 9, -200]

In [43]:
# Demo of in place output
print(aList)
aList.append(-200)
print(aList)

[4, 6, 7, 2, 1, 9, -200]
[4, 6, 7, 2, 1, 9, -200, -200]

In [44]:
# Method .sort() (sorts by numerical number)
print(aList)
aList.sort()
print(aList)

[4, 6, 7, 2, 1, 9, -200, -200]
[-200, -200, 1, 2, 4, 6, 7, 9]

In [45]:
# Method .count() 
# Find the number of "-200"s in aList
aList.count(-200)

2