<a href="https://colab.research.google.com/github/vera-rykalina/PythonIntroDeepLearning/blob/main/DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python for Deep Learning

# Variables

In [12]:
# Calculator
7 + 3

10

In [47]:
# Variable assingment
a = 10
b = 3

In [48]:
# This code cell inspects the values of the variables (a pound sign)
print(a) # print out a
print(b) # print out b

10
3

In [49]:
# Check type of variablesc = 7
d = 7.0
e = "hello"

print(type(c)) # integer (int)
print(type(d)) # float (floating point)
print(type(e)) # string (str)

<class 'float'>
<class 'float'>
<class 'str'>

In [17]:
# Quotes
g = "hi"
p = 'My name is Vera.'
o = "My name's is Vera"

In [18]:
g, p, o

('hi', 'My name is Vera.', "My name's is Vera")

In [19]:
# Variable name convention
aVariableName = 10
filterOrder   = 18
user_name     = "Vera"
param4modelA = 43.58678

## Magic keyword whos

In [20]:
# Magic keyword to check on variables
%whos

Variable        Type     Data/Info
----------------------------------
a               int      10
aVariableName   int      10
b               int      3
c               int      7
d               float    7.0
e               str      hello
filterOrder     int      18
g               str      hi
o               str      My name's is Vera
p               str      My name is Vera.
param4modelA    float    43.58678
user_name       str      Vera

In [21]:
# Multiple assignment
varA, varB = 3, "test"
print(varA)
print(varB)

3
test

## Overwriting variables

Is it possible to overwrite existing variables?
- using the same variable type (yes)
- using different variable type (yes)

In [22]:
varA = 8
type(varA)

int

In [23]:
varA = "string"
type(varA)

str

# Math and printing

In [24]:
x = 7
y = 4.3
z = 0

In [25]:
# Floating-point algebra (not real algebra, instead of zeros one sees small numbers) 
y + x - 7

4.300000000000001

In [26]:
c = y + 3.5*x - 7 # addition, multiplication, substraction 
c

21.8

In [27]:
4/3 # devision

1.3333333333333333

In [28]:
# Breaking up one line of code into multiple lines
4 \
  + 3

7

In [29]:
3*2 # multiplication
3**3 # powers
9**(1/2) # square root, taking into account the order of operations

3.0

In [30]:
# String concatination
first_name = "Vera"
last_name  = "Rykalina"
first_name + last_name

'VeraRykalina'

In [31]:
full_name = first_name + " " + last_name
print(full_name)

Vera Rykalina

In [32]:
# This "first_name - last_name" will produce an error

In [33]:
print(first_name*3) # multiplication works with int but not with floats

VeraVeraVera

In [34]:
print("7*3 = 2.1") # no math

7*3 = 2.1

In [35]:
print(x + y)

11.3

In [36]:
# Printing mixed variable types
print(str(x) + " + " + str(y) + " =  " + str(x + y))

7 + 4.3 =  11.3

In [37]:
# A user input 
ans = input("Give me a number: ")

Give me a number: 11

In [38]:
type(ans) # str type

str

In [39]:
ans = float(ans)
type(ans)

float

In [40]:
# Embedding 
ans = float(input("Give me a number: "))

Give me a number: 4

In [41]:
type(ans)

float

## Pythagorean theorem (1)

$c^2 = a^2 + b^2$

Get two inputs from the user:
-  side a
-  side b
-  compare and print out the length of the side c

In [42]:
a = float(input("Type a side a: "))
print(f"The side a is equal to {a}")

Type a side a: 6
The side a is equal to 6.0

In [43]:
b = float(input("Type a side b: "))
print(f"The side b is equal to {b}")

Type a side b: 5
The side b is equal to 5.0

In [44]:
c = round((a**2 + b**2)**(1/2), 2)
print(f"The calculated hypotenuse is {c}")

The calculated hypotenuse is 7.81

# Lists

In [45]:
# List of integers
aList = [4, 6, 7, 2, 1, 9]
print(aList)
type(aList)

[4, 6, 7, 2, 1, 9]

list

In [46]:
# List of strings
strList = [ "hi", "my", "name", "is", "Vera"]
print(strList)
type(strList)

['hi', 'my', 'name', 'is', 'Vera']

list

In [47]:
# Mixted list
mixList = [ 3, 5.0, "test", 50.1]
print(mixList)
type(mixList)

[3, 5.0, 'test', 50.1]

list

In [48]:
# List of lists
listlist = [ 1, 2, 3, "hi", "bye", [.5, 1/2, "j"], 3,2,1 ]

In [49]:
# Vertical organization (sometimes useful, e.g for adding comments)
listlist = [ 
            1, # comment 1
            2, # comment 2
            3, # comment 3
            "hi", 
            "bye", 
            [.5, 1/2, "j"], 
            3, 
            2, 
            1 
            ]

In [50]:
# Working with lists (use python in/not in keywords)

# Is number 4 in list?
print(4 in aList) 

# Is number 40 in list?
print(4 in aList)

# Is number 40 not in list?
print(40 not in aList)

True
True
True

In [51]:
# Concatenation of lists 
aList + strList

[4, 6, 7, 2, 1, 9, 'hi', 'my', 'name', 'is', 'Vera']

In [52]:
# Repitition 
strList*3

['hi',
 'my',
 'name',
 'is',
 'Vera',
 'hi',
 'my',
 'name',
 'is',
 'Vera',
 'hi',
 'my',
 'name',
 'is',
 'Vera']

## List methods

In [53]:
# Method .append()
print(aList)
aList.append(-200)
print(aList)

[4, 6, 7, 2, 1, 9]
[4, 6, 7, 2, 1, 9, -200]

In [54]:
# Demo of in place output
print(aList)
aList.append(-200)
print(aList)

[4, 6, 7, 2, 1, 9, -200]
[4, 6, 7, 2, 1, 9, -200, -200]

In [55]:
# Method .sort() (sorts by numerical number)
print(aList)
aList.sort() # not supported between instances of 'str' and 'int'
print(aList)

[4, 6, 7, 2, 1, 9, -200, -200]
[-200, -200, 1, 2, 4, 6, 7, 9]

In [56]:
# Method .sort() (descending order)
aList
aList.sort(reverse=True)
aList

[9, 7, 6, 4, 2, 1, -200, -200]

In [57]:
# Method .count() 
# Find the number of "-200"s in aList
aList.count(-200)

2

In [58]:
# Brush up on lists
lst = [1, 2, 3, 4, 5]
print(lst)
lst.append(7)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]

In [59]:
# Method .insert()
lst.insert(2, 9) # 2 -> position; 9 -> number
print(lst)

lst.insert(5, "gee") # 5 -> postion; str "gee" -> number
print(lst)

[1, 2, 9, 3, 4, 5, 7]
[1, 2, 9, 3, 4, 'gee', 5, 7]

In [60]:
# Method .remove()
lst.remove(9)
lst

[1, 2, 3, 4, 'gee', 5, 7]

## List practice
- remove the string "gee"

- sort the lst

In [61]:
lst
lst.remove("gee")
lst.sort()
lst

[1, 2, 3, 4, 5, 7]

# Tuples

In [62]:
atuple = (1, 3, "hey", 3.4, 7)
print(atuple)
print(type(atuple))

(1, 3, 'hey', 3.4, 7)
<class 'tuple'>

In [63]:
# Tuples can be assinged without paranthesis (better to use them although)
atuple = 3, 5, "wow", "3.3"
print(atuple)
print(type(atuple))

(3, 5, 'wow', '3.3')
<class 'tuple'>

In [64]:
# Difference between lists and tuples (mutability)
atuple = (3, 5, "wow", 3.3)
alist = [3, 5, "wow", 3.3]

In [65]:
alist[0] = 1000 # this is not possible for tuples
print(alist)

[1000, 5, 'wow', 3.3]

# Booleans

## Magic keyword reset

In [1]:
# Use %reset -f to clear all variables in IPython
%reset -f

In [2]:
%whos

Interactive namespace is empty.

In [68]:
t = True
f = False

In [69]:
# Check on data types
%whos

Variable   Type    Data/Info
----------------------------
f          bool    False
t          bool    True

In [71]:
# Create booleans, using comparisons
6 == 6

True

In [72]:
6 == 6.1

False

In [73]:
# Python returns True
6 == 6.0

True

In [75]:
# Assign
test = 4 == 4
print(test)

True

In [76]:
# Is 4 grearer than 5?
4 > 5

False

In [77]:
# Is 7 less or equal than 7
7 <=7

True

In [78]:
# Negation
7 != 7

False

## Conjunctive comparisons

In [6]:
x = 11
y = 14

In [7]:
# Keyword "and" 
# Both parts are true -> True
print(x < 5 and x < 15) 

# All parts are true -> True, else -> False
print(x > 5 and y < 13 and (x + y) < 50)

False
False

In [8]:
# Keyword "or" (at least one is being true)
print(x < 5 or x < 15)

True

## Conversion into boolean

In [52]:
# Transform a number into a boolean (all numbers return "True")
print(bool(0)) # returns False
print(bool("")) # returns False
print(bool('')) # returns False
print(bool(1)) # returns True
print(bool(10)) # returns True
print(bool(304020503)) # returns True
print(bool(-34)) # returns True
print(bool("adsdsd")) # returns True

False
False
False
True
True
True
True
True

## Pythagorean theorem (2)

$c^2 = a^2 + b^2$

- get 3 inputs from the user: a, b, and c

- check whether $c^2 = a^2 + b^2$

- print out the result (True/False)

In [1]:
# Ask for inputs
print(f"Type triangle sides as a, b, c.\n")
a = float(input("Type side a: "))
b = float(input("Type side b: "))
c = float(input("Type side c: "))

# Confirm inputs
print(f"\nYour sides: a = {a}, b = {b}, and c = {c}.\n")

# Check on equation
print(f"Is c\u00b2 = a\u00b2 + b\u00b2 ?\nIt is {str(c**2 == a**2 + b**2).lower()}.")

Type triangle sides as a, b, c.

Type side a: 3
Type side b: 4
Type side c: 5

Your sides: a = 3.0, b = 4.0, and c = 5.0.

Is c² = a² + b² ?
It is true.

# Dictionaries

Key / value pairs (not ordered, mutable)

In [9]:
dic_1 =  dict()
print(dic_1)
print(type(dic_1))

{}
<class 'dict'>

In [10]:
#      key     value
dic_1["name"] = "Vera"
dic_1["age_range"]  = [20, 45]
print(dic_1)

{'name': 'Vera', 'age_range': [20, 45]}

In [12]:
dic_2 = {"name" : "Jane", "surname": "Joe", "age_range": [18, 50]}
print(dic_2)

{'name': 'Jane', 'surname': 'Joe', 'age_range': [18, 50]}

## Dictionary methods

In [36]:
# Method .keys()
dic_2.keys() # retunrs all keys
print("name" in dic_2) # checks for keys

True

In [37]:
# Method .values()
dic_2.values() # returns all values
print("Joe" in dic_2.values()) # checks for values
print([18, 50] in dic_2.values()) # checks for values

True
True

In [38]:
# Method .items()
dic_2.items() # returns tuples of items

dict_items([('name', 'Jane'), ('surname', 'Joe'), ('age_range', [18, 50])])

## Dictionaries practice

- input two numbers from the user
- create a dictionary with three keys: 
"FirstNumber", "SecondNumber", "Product (FirstNumber x SecondNumber)"

In [28]:
key_1 = float(input("Provide the first number: "))
key_2 = float(input("Provide the second number: "))
print(f"Your keys are: {key_1}, {key_2}")

Provide the first number: 57
Provide the second number: 103
Your keys are: 57.0, 103.0

In [32]:
myDict = {"FirstNumber": key_1, "SecondNumber": key_2, "Product": key_1*key_2}
print(myDict)
print(myDict.items())

{'FirstNumber': 57.0, 'SecondNumber': 103.0, 'Product': 5871.0}
dict_items([('FirstNumber', 57.0), ('SecondNumber', 103.0), ('Product', 5871.0)])